* {
  box-sizing: border-box;
}

body {
  font-family: "Indie Flower", cursive;
  font-weight: 700;
  padding: 20px 60px;
 
}

a {
  text-decoration: none;
  color: rgb(24, 23, 23);
}

@media(max-width: 700px){
  body{
    padding: 20px ;
  }
}

@media(max-width: 567px){
  body{
    padding: 20px 0px;
  }
}