.cart-icon {
  width: 60px;
  height: 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    width: 30px;
    height: 30px;
  }

  &:hover {
    color: rgb(81, 8, 177);
  }

  &:active {
    transform: scale(1.1);
  }

  .item-count {
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    bottom: 15px;
    letter-spacing: 1px;
  }
}
