.collection-item {
  width: 22vw;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  position: relative;
  margin-right: 30px;

  
 
  @media screen and (max-width: 900px) {
    width: 40vw;
    padding: 10px;
    margin-right: 0px;
    height: 500px;
  }

  @media screen and (max-width: 632px) {
    width: 35vw;
    height: 350px;
  }

  @media screen and (max-width: 468px) {
    width: 50vw;
    margin-right: 0px;
    height: 350px;
    border-radius: 5px;
  }
 



  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .custom-button {
    width: 80%;
    opacity: 0.7;
    position: absolute;
    top: 255px;
    display: none;
  }

  &:hover {
    .image {
      opacity: 0.8;
    }
    .custom-button {
      display: flex;
      opacity: 0.85;
    }
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 7px;

    .name {
      width: 90%;
      margin-bottom: 15px;
    }

    .price {
      width: 10%;
    }
  }
}

